[submodule "ext/peelo-unicode"]
	path = ext/peelo-unicode
	url = https://github.com/peelonet/peelo-unicode
[submodule "ext/peelo-prompt"]
	path = ext/peelo-prompt
	url = https://github.com/peelonet/peelo-prompt
[submodule "ext/peelo-chrono"]
	path = ext/peelo-chrono
	url = https://github.com/peelonet/peelo-chrono
