[submodule "ext/peelocpp-prompt"]
	path = ext/peelocpp-prompt
	url = https://github.com/peelonet/peelocpp-prompt.git
[submodule "ext/peelocpp-chrono"]
    path = ext/peelocpp-chrono
    url = https://github.com/peelonet/peelocpp-chrono.git
[submodule "ext/peelo-unicode"]
	path = ext/peelo-unicode
	url = https://github.com/peelonet/peelo-unicode
