[Desktop Entry]
Type=Application
Icon=laskin-gui
Exec=laskin-gui %f
Terminal=false
StartupNotify=true
Categories=GTK;Utility;Calculator
Name=Laskin
GenericName=Calculator
